@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --main-color:#3aafa9;
    --dark: #17252a;
    --dark2: #222;
    --light: #def2f1;
    --semi-dark: #666;
    --body: rgb(226, 225, 225);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*===============Pre-loader========================*/
.pre-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: #fff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pre-loader .logo {
    font-size: 3rem;
    font-weight: 400;
    padding: 20px;
    color: #3aafa9;
    animation: flippin 1s linear infinite;
}

@keyframes flippin {
    0% {
        transform: 
            rotateY(0deg);
    }
    100% {
        transform: 
            rotateY(-180deg);
    }
}

.pre-loader .progressbar {
    position: relative;
    max-width: 400px;
    width: 80%;
    margin: 10px auto 10px;
    height: 15px;
    background: #274545;
    border-radius: 25px;
    overflow: hidden;
}

.pre-loader .pre-loader-caption {
    font-size: 1rem;
    letter-spacing: 1px;
}

.pre-loader .progressbar .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #3aafa9;
    transition: all .2s;
}

/*===============header / navigation===================*/
header nav {
    background-color: var(--dark);
    width: 100%;
    min-height: 70px;
    height: 100%;
}

header nav .logo {
    color: var(--light);
    font-size: 3rem;
    font-weight: 600;
    margin-left: 80px;
    line-height: 75px;
}

header nav .logo:hover {
    animation: spinner 1s linear infinite;
    cursor: pointer;
}

@keyframes spinner {
    0% {
        transform: 
            rotateY(0deg);
            color: var(--light);
    }
    50% {
        transform: 
            rotateY(-90deg);
            color: var(--main-color);
    }
    100% {
        transform: 
            rotateY(-180deg);
            color: var(--light);
    }
}

header nav ul {
    margin-right: 80px;
}

header nav a {
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--light);
}

header nav ul li {
    list-style-type: none;
    padding: 0 20px;
    font-size: 1rem;
    line-height: 40px;
}

header nav ul li:nth-child(5) {
    background-color: transparent;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid var(--main-color);
}

header nav ul li:nth-child(5) a:hover {
    cursor: pointer;
    color: var(--light);
    border-bottom: none;
}

header nav ul li:nth-child(5):hover {
    background-color: var(--main-color);
}

header nav ul li a:hover {
    cursor: pointer;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
}

header nav .navbar-toggler {
    margin-right: 20px;
}

@media (max-width: 991.98px) {
    header nav .logo {
        color: var(--light);
        font-size: 3rem;
        font-weight: 600;
        margin-left: 20px;
        line-height: 75px;
    }
    header nav ul {
        margin-right: 0;
        border-top: 2px solid var(--light);
    }
    header nav ul li{
        text-align: center;
        padding: 0;
        line-height: 100px;
        color: var(--light);
        text-transform: uppercase;
    }
    header nav ul li:nth-child(5) {
        border: none;
    }
    header nav ul li:nth-child(5):hover {
        background-color: transparent;
    }
    header nav ul li:nth-child(5) a:hover {
        color: var(--main-color);
    }
    header nav ul li a:hover {
        border-bottom: none;
    }
    header nav ul .firstname {
        color: var(--main-color);
    }
}


/*=================Home Start========================*/
/*=================Section A=========================*/
main .section_home {
    background-color: var(--body);
    text-align: left;
    padding-right: 80px;
    padding-left: 80px;
}

main .section_a {
    margin-top: 20%;
}

main .section_home .section_a .greeting {
    font-size: 2.5rem;
    line-height: 20px;
}

main .section_home .section_a h3 {
    font-size: 4.5rem;
    letter-spacing: 1px;
}

main .section_home .section_a .initial {
    color: var(--main-color);
}

main .section_home .section_a .initial:hover {
    animation: spinner 1s linear infinite;
    cursor: pointer;
}

main .section_home .section_a .caption {
    font-size: 1.2rem;
    color: var(--semi-dark);
}

main .section_home .section_a .caption .profession {
    color: var(--main-color);
    font-weight: 600;
}

@media (max-width: 991.98px) {
    main .section_a {
        margin-top: 10%;
    }
    main .section_home {
        text-align: left;
        padding-right: 35px;
        padding-left: 35px;
    } 
    main .section_home .section_a .greeting {
        font-size: 2rem;
        line-height: 15px;
    }
    main .section_home .section_a h3 {
        font-size: 3rem;
        letter-spacing: 1px;
    }
    main .section_home .section_a .caption {
        font-size: 1rem;
    }   
}

/*==================Section b=====================*/
main .section_b {
    margin-top: 1%;
}

main .section_home .section_b .portrait {
    width: 100%;
    padding-bottom: 20px;
}
@media (min-width: 577px) and (max-width: 749px) {
    main .section_b {
        margin-top: 0%;
    }
    main .section_home .section_b {
        text-align: center;
    }
}

@media (min-width: 750px) and (max-width: 991.98px) {
    main .section_home .section_b {
        text-align: center;
    }
}

/*=================About me start====================*/
main .section_about {
    padding: 50px 80px;
}

main .section_about .section_title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--dark);
    padding-bottom: 35px;
}

main .section_about .section_title .me {
    color: var(--main-color);
}

main .section_about .section_c .about-img {
    width: 100%;
    border-radius: 5px;
}

main .section_about .section_c {
    border-right: 5px solid var(--main-color);
}

main .section_about .section_d {
    padding-left: 40px;
}

main .section_about .section_d h3 {
    font-size: 2rem;
    padding-bottom: 5px;
}

main .section_about .section_d .person-name {
    color: var(--main-color);
}

main .section_about .section_d h5 {
    padding-bottom: 25px;
}

main .section_about .section_d p {
    text-align: justify;
    color: var(--semi-dark);
}

main .section_about .section_d .technology {
    color: var(--dark);
}

main .section_about .section_d ul{
    list-style-type: none;
    text-indent: -30px;
    text-align: left;
}

main .section_about .section_d ul li {
    line-height: 28px;
}

main .section_about .section_d .arrow-icon {
    color: var(--main-color);
    font-weight: 600;
    padding-right: 10px;
}

@media (max-width: 991.98px) {
    main .section_about {
        padding: 50px 35px;
    }
    main .section_about .section_c {
        border-right: none;
        text-align: center;
        padding-bottom: 15px;
    }
    main .section_about .section_d {
        padding-left: 20px;
    }
    main .section_about .section_d h3,
    main .section_about .section_d h5 {
        text-align: center;
    }    
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    main .section_about .section_d .arrow-icon {
        padding-right: 0px;
    }
}

@media (max-width: 576px) {
    main .section_about {
        padding: 50px 20px;
    }
}

/*===================section_portfolio====================*/
main .section_portfolio{
    background-color: var(--dark);
    padding: 50px 80px;
}

main .section_portfolio .section_title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--light);
    padding-bottom: 15px;
}

main .section_portfolio .section_title .my {
    color: var(--main-color);
}

main .section_portfolio .card {
    width: 100%;
    height: 500px;
    padding: 20px 10px;
    margin: 20px 0px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
    color: var(--dark);
}

main .section_portfolio .card img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--main-color);
}

main .section_portfolio .card .card-body .card-text {
    color: var(--semi-dark);
}

main .section_portfolio .card .card-body a {
    background-color: var(--dark);
    color: var(--light);
    margin-right: 3px;
}

main .section_portfolio .card .card-body a:hover {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}

@media (max-width: 767.98px) {
    main .section_portfolio{
        padding: 40px 35px;
    }
    main .section_portfolio .card{
        padding: 20px 20px;
        height: 600px;
    }
    main .section_portfolio .section_title {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    main .section_portfolio {
        padding: 50px 20px;
    }
}

/*============section contact=============*/

main .section_contact {
    padding: 50px 80px;
    color: var(--dark);
}

main .section_contact .section_title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--dark);
    padding-bottom: 15px;
}

main .section_contact .section_title .me {
    color: var(--main-color);
}

main .section_contact .map {
    width: 100%;
    height: 380px;
    padding-bottom: 20px;
}

main .section_contact .card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

main .section_contact .card .card-body {
    line-height: 40px;
    padding-bottom: 30px;
}

main .section_contact .card .card-body .card-text {
    line-height: 10px;
}

@media (max-width: 767.98px) {
    main .section_contact {
        padding: 40px 35px;
    }    
}

@media (max-width: 576px) {
    main .section_contact {
        padding: 50px 20px;
    }
}

/*=================Footer=================*/
footer {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
}

footer .developer-name {
    color: var(--main-color);
    font-weight: 600;
}

footer .center-caption {
    padding: 0px 10px;
}

footer .social-icon {
    color: var(--main-color);
    font-weight: 300;
    padding: 5px;
    margin-right: 3px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
}

footer .social-icon:hover {
    color: var(--light);
    border: 1px solid var(--light);
}